@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600,700&display=swap');
body, html {
    font-family: 'Inconsolata', monospace;
    margin: 0;
    min-height: 100vh;
    background: #3b4252;
}
div {
    box-sizing: border-box;
}
.container {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}
.item {
    border-radius: .5rem;
    box-shadow: rgba(0,0,0,.15) 0 1px 5px;
    border: 2px solid #434c5e;
    padding: 2rem 1rem;
    text-align: center;
}
.item h4 {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
}
h2 {
    color: #697285;
    margin: 1rem auto 0;
    max-width: 1200px;
    padding: 0 1.25rem;
}
.nord0 {
    background: #2e3440;
    color: #d8dee9;
}
.nord1 {
    background: #3b4252;
    color: #d8dee9;
}
.nord2 {
    background: #434c5e;
    color: #d8dee9;
}
.nord3 {
    background: #4c566a;
    color: #d8dee9;
}
.nord4 {
    background: #d8dee9;
    color: #2e3440;
}
.nord5 {
    background: #e5e9f0;
    color: #2e3440;
}
.nord6 {
    background: #eceff4;
    color: #2e3440;
}
.nord7 {
    background: #8fbcbb;
    color: #2e3440;
}
.nord8 {
    background: #88c0d0;
    color: #2e3440;
}
.nord9 {
    background: #81a1c1;
    color: #2e3440;
}
.nord10 {
    background: #5e81ac;
    color: #eceff4;
}
.nord11 {
    background: #bf616a;
    color: #2e3440;
}
.nord12 {
    background: #d08770;
    color: #2e3440;
}
.nord13 {
    background: #ebcb8b;
    color: #2e3440;
}
.nord14 {
    background: #a3be8c;
    color: #2e3440;
}
.nord15 {
    background: #b48ead;
    color: #2e3440;
}